__pycache__/
*.pyc
.vscode/
.edge_profile/
puppeteer-config.json
figuras/
uvpack_cpp/*.obj
uvpack_cpp/*.pdb
uvpack_cpp/*.ilk
uvpack_lib/*.lib
uvpack_lib/*.exp
uvpack_lib/*.pdb
uvpack_lib/*.ilk
uvpack_lib/lib_uvpack_112.dll
uvpack_lib/lib_uvpack_120.dll
baking_diagram_preview.png
baking_diagram_preview2.png
baking_diagram.png
baking_diagram.md
render_baking_diagram.ps1
render_retopo_quads_diagram.ps1
retopo_quads_diagram.md
retopo_quads_diagram.png
retopo_quads_diagram.svg
.gitignore
